.env
.env.local
.env.*.local
*.env
! .env.example

__pycache__/
.venv
venv/
dist/

node_modules/
frontend/dist
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store